.weather-modal {
  position: absolute;
  display: flex;
  justify-items: center;
  overflow: hidden;
  width: clamp(40rem, 100%, 60rem);
  min-height: 45rem;
  margin: auto 100px;

  background: rgba(58, 58, 58, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  transform: scale(0.1);
  opacity: 0;
}

.weather-interface {
  display: flex;
  flex-direction: column;
  width: clamp(40rem, 100%, 60rem);
  padding: 10px;
}

.show-weather {
  transition: translate 300ms ease-in-out, opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
  opacity: 1;
  transform: scale(1);
}

.remove-weather {
  transition: translate 300ms ease-in-out, opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
  opacity: 0;
  transform: scale(0.1);
}

.weather-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 5px;
}

.weatherclock {
  font-family: "Inter", "sans-serif";
  font-weight: 500;
  color: #c5d3fd;
  margin-right: auto;
}

.weather-bar-x {
  all: unset;

  font-family: "Inter", "sans-serif";
  font-weight: 600;
  border-radius: 10px;

  width: 20px;
  height: 15px;

  background: rgba(190, 87, 87, 0.795);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  cursor: pointer;
}

.weather-bar-x:hover {
  box-shadow: inset 0px 0px 8px rgba(226, 190, 190, 0.2);
}

.basic-info {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 5px;
  height: 180px;

  color: #ddddff;
}
.basic-info p {
  font-family: "Oswald", "sans-serif";
}

#location {
  font-size: 40px;
  font-weight: 600;
}
#description {
  font-size: 20px;
  font-weight: 500;
}

#temp {
  font-size: 60px;
  font-weight: 600;
}

img {
  width: 128;
  height: 128;
}
