.weather-modal {
    position: absolute;
    justify-items: center;
    text-align: center;
    overflow: hidden;

    width: 800px;
    max-width: 800px;
    min-height: 685.25px;
    background-color: #081B24;
    border-left: 2px solid rgba(255, 255, 255, 0.26);
    border-top: 2px solid rgba(255, 255, 255, 0.26);
    box-shadow: 10px 8px 16px 0 rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    /* visibility: hidden; */
}