@import "/main_files/apps-scripts/calculator.css";


.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 50px 0px;
  }

.weather-modal{
    position: absolute;
    justify-items: center;
    text-align: center;
    overflow: hidden;

    width: 375px;
    max-width: 375px;
    min-height: 640px;
    background-color: #081B24;
}