
#main-header{

    font-family: 'Rubik', 'sans-serif';
    text-align: center;
    padding: 50px;
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    width: clamp(1rem, 60%, 33rem);
    min-width: fit-content;

    background: rgba( 76, 67, 67, 0.25 );
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
     
    margin: 100px auto;
    padding: 1rem;
}

.box {
    all: unset;
    height: 125px;
    width: 125px;

    background-color: antiquewhite;
    border-radius: 15px;

    padding: 20px;
}

#app-title{
    display: table-cell;
    height: 125px;
    width: 125px;
    
    margin: 0%;
    text-align: center;
    justify-items: center;
    vertical-align: middle;

    font-family: 'Inter', 'sans-serif';
    font-size: 24px;
    font-weight: 800;
}

body {
    background: radial-gradient(ellipse at right bottom, #80FFDB 5%, #6efdd5 25%, #66a1e9 50%, #5390D9 100%) no-repeat;
    background-attachment: fixed;
}

